@model IEnumerable<Vidly_Latihan.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers Index</h2>
@if (!Model.Any())
{
    <p>We Don't Have Any Customer</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        <a href="customers/@customer.id">
                            @customer.Name
                        </a>
                    </td>
                </tr>
            }

        </tbody>



    </table>
}



